body{
    background-color:rgb(8, 0, 0);

}

.container{
    display: flex;
    flex-direction: column;
    color: blue;
}

.container button{
    padding: 10px 30px;
    width: 250px;
    cursor: pointer;
    margin-top: 30px;
    color: rgb(255, 8, 0);
    border: 20px;
    border-radius: 30px;
}